.DS_Store
*.pyc
node_modules
npm-debug.log
frontend/build/*
#backend/settings/devl.py
.idea/CSE_DBV.iml .idea/dataSources.local.xml .idea/dataSources.xml .idea/inspectionProfiles .idea/misc.xml .idea/modules.xml .idea/vcs.xml .idea/workspace.xml
#docker-compose.yml
#Dockerfile
.idea/workspace.xml
documents
media
venv
.idea
backend/__pycache__
backend/.idea
frontend/.idea
frontend/.vscode
backend/__pycache__
backend/apps/__pycache__
backend/apps/records/__pycache__
backend/apps/records/migrations
backend/apps/snippets/__pycache__
backend/apps/snippets/migrations/__pycache__
backend/apps/users/__pycache__
backend/apps/users/migrations/__pycache__
backend/apps/users/registration/__pycache__
backend/settings/__pycache__
backend/settings/devl.py
celery.logs
*.pyc
*.pyo
