.cursor-pointer {
    cursor: pointer;
}

.inset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #bbbbbb #dadada #dadada;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-right: 1px solid #dadada;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset, 0 1px 0 #dadada;
    overflow: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.nav-tabs-custom >.nav-tabs > li.header > a {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;

}

.content-wrapper{
    /* background-image: url('../images/food/photo1.png'); */
}

.btn-box-tool-active {
    border-color: #bbbbbb #dadada #dadada;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
}

.btn-app {
    min-width: 70px;
    padding: 10px 10px;
    height: 55px;
}

.signup-box,
.register-box {
  width: 560px;
  margin: 7% auto;
}

.list-group-item.btn-box-tool-active {
    color: #ffffff;
    background-color: #a69ce2;
    border-color: #a69ce2;
  }

  .list-group-item.list-group-item.active {
    color: #ffffff;
    background-color: #a69ce2;
    border-color: #a69ce2;
  }

.list-group-item.active {
    color: #ffffff;
    background-color: #a69ce2;
    border-color: #a69ce2;
  }

.list-group-item.hover {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
  }

.list-group-item.focus {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
  }

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #5400a3;
}

.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h2 { 
   position: absolute; 
   top: 300px; 
   left: 0; 
   width: 100%; 
 }
 
 h2 span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    padding: 10px; 
 }

 