{% extends "registration/base.html" %}
{% load static %}

{% block body %}
<body class="hold-transition login-page">
    <div class="signup-box">
    <div class="login-logo">
            <a href="#"><b>Sign</b>UP</a>
{#            # GMS stands for "Glucose Monitoring System"#}
    </div>
{#        <h2>Sign up</h2>#}
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey;"  width="200px">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit">Sign up</button>
              </form>
    </div>
</body>
{% endblock body %}